.first-card {
  width: 350px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  height: 600px;
  overflow: auto
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-buttons>svg {
  cursor: pointer;
  margin-right: 10px;
}

.child-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.child-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child-card .card-buttons>svg {
  cursor: pointer;
}

.child-input input {
  width: 20rem;
}
.todo-priority.low {
  color: green;
}

.todo-priority.high {
  color: red;
}
.todo-priority.moderate {
  color: rgb(51, 0, 255);
}



.dropdown {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;

}

.dropdown>div {
  cursor: pointer;
  padding: 8px;
}

.dropdown>div:hover {
  background-color: #ddd;
}

.child-data {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.child-data p {
  margin: 5px 0;
}

/* child card button */

.child-data-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child-button {
  width: 80px;
  border-radius: 5px;
  background-color: #fae9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}