.main-container{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.four-container {
  display: flex;
  width: 100vw; 
  overflow-x: auto; 
  overflow-y: hidden; 
}

.topbox {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.headText {
  font-size: 20px;
  font-weight: bold;
}

.headTime {
  font-size: 20px;
  font-weight: bold;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.parent-card {
  display: flex;
  background-color: #f9f9f9;
  height: 700px;
  padding: 10px;
}

