.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 80%;
  overflow: auto; 
  height: 500px;
}

.form-group {
  margin-bottom: 15px;
}

.priority-buttons {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.priority-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-button {
  color: black;
  border: none;
  cursor: pointer;
}

.last-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel-button {
  width: 80px;
  height: 20px;
  padding: 10px;
  border: 1px solid red;
  color: red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.save-button {
  width: 80px;
  height: 20px;
  padding: 10px;
  background-color: rgb(38, 216, 247);
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.task-group {
  position: relative; 
}



.task-group .fa-trash {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.message-error{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  /* position: absolute; */
  padding: 50px;
}